body{
    color: white;
    background: black;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(7, 7, 63);
    padding: 20px;
    font-size: 32px;
    color: #044f04;
}

section {
    background: rgb(7, 7, 63);
}