body{
    color: whitesmoke;
    background: black;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(7, 7, 63);
    padding: 20px;
    font-size: 32px;
    color: whitesmoke;
}

section {
    background: #010d27;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}