body{
    color: white;
    background: green;
    margin: 0px;
}
header{
    border-bottom: solid 2px #044f04;
    padding: 20px;
    font-size: 32px;
    color: #044f04;
}

section {
    background: #044f04;
}